<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaojingye.wechatbackend.component.mapper.CommodityMapper">

    <resultMap id="BaseResultMap" type="com.xiaojingye.wechatbackend.entity.pojo.Commodity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="commodityName" column="commodity_name" jdbcType="VARCHAR"/>
            <result property="itemsQuantity" column="items_quantity" jdbcType="INTEGER"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,commodity_name,
        items_quantity,phone_number,location,
        thumbnail
    </sql>
    <insert id="insertCommodity">
        INSERT INTO t_commodity (id, category_id, publisher_id, commodity_name, price, items_quantity, phone_number,
                                 location, thumbnail, product_description, create_time)
        VALUES (#{commodity.id},
                #{commodity.categoryId},
                #{commodity.publisherId},
                #{commodity.commodityName},
                #{commodity.price},
                #{commodity.itemsQuantity},
                #{commodity.phoneNumber},
                #{commodity.location},
                #{commodity.thumbnail},
                #{commodity.productDescription},
                #{commodity.createTime})
    </insert>
    <update id="updateCommodity" parameterType="com.xiaojingye.wechatbackend.entity.pojo.Commodity">
        UPDATE t_commodity
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="commodityName != null">
                commodity_name = #{commodityName},
            </if>
            <if test="itemsQuantity != null">
                items_quantity = #{itemsQuantity},
            </if>
            <if test="thumbnail != null">
                thumbnail = #{thumbnail},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="productionDescription != null">
                production_description = #{productionDescription},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="removeCommodity">
        DELETE FROM t_commodity
        WHERE id = #{id};
    </delete>
    <select id="getCommodityById" resultType="com.xiaojingye.wechatbackend.entity.pojo.Commodity">
        SELECT * FROM t_commodity WHERE id = #{Id};
    </select>


</mapper>
